{% block html %}
    <!DOCTYPE html>
    <html lang="en">
    {% block head %}
        <head>

            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta name="description" content="">
            <meta name="author" content="">
            {% if title is defined %}
                <title>{{  title }}</title>
            {% else %}
                <title>Default Title</title>
            {% endif %}
            <!-- Bootstrap Core CSS -->
            <link href="static/themes/startbootstrap-agency/css/bootstrap.min.css" rel="stylesheet">
            <!-- Custom CSS -->
            <link href="static/themes/startbootstrap-agency/css/agency.css" rel="stylesheet">
            <link rel="stylesheet" href="static/vendor/bootstrap-additions/dist/bootstrap-additions.min.css">
            <!-- Custom Fonts -->
            <link href="static/themes/startbootstrap-agency/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
            <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
            <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
            <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
            <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
            <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
            <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
            <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
            <![endif]-->
            <script src="static/vendor/moment/min/moment.min.js"></script>
            <script src="static/vendor/angular/angular.min.js"></script>
            <script src="static/vendor/angular-sanitize/angular-sanitize.min.js"></script>
            <script src="static/vendor/angular-animate/angular-animate.min.js"></script>
            <script src="static/vendor/angular-strap/dist/angular-strap.min.js"></script>
            <script src="static/vendor/angular-strap/dist/angular-strap.tpl.min.js"></script>
            <script src="static/angular/reservations.app.js"></script>
            <script src="static/angular/controllers/restaurantsList.ctrl.js"></script>
            <script src="static/angular/controllers/reservation.ctrl.js"></script>
            <script src="static/angular/services/restaurantService.js"></script>
            <script src="static/angular/services/reservationService.js"></script>
        </head>
    {%  endblock %}
    {% block body %}
        <body id="page-top" class="index" ng-app="reservationsApp">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand page-scroll" href="#page-top">Reservations</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="hidden">
                            <a href="#page-top"></a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#see-restaurants">See available restaurants</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#make-a-resa">Make a reservation</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#contact">Contact Us</a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>

        <!-- Header -->
        <header>
            <div class="container">
                <div class="intro-text">
                    <div class="intro-lead-in">Welcome To Our Reservation System!</div>
                    <div class="intro-heading">It's Nice To Meet You!</div>
                    <a href="#see-restaurants" class="page-scroll btn btn-xl">See available restaurants</a>
                </div>
            </div>
        </header>

        <!-- Restaurants Section -->
        <section id="see-restaurants">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading">Here is a list of restaurants</h2>
                        <h3 class="section-subheading text-muted">That you'll love more than ever.</h3>
                    </div>
                </div>
                <div data-ng-controller="RestaurantsListCtrl" data-ng-include="'static/angular/views/restaurantsList.tpl.html'">
                </div>
            </div>
        </section>

        <!-- Make a reservation Section -->
        <section id="make-a-resa" class="bg-light-gray">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading">Make a reservation</h2>
                        <h3 class="section-subheading text-muted">Make sure you never miss out.</h3>
                    </div>
                </div>
                <div data-ng-controller="ReservationCtrl" data-ng-include="'static/angular/views/reservation.tpl.html'">
                </div>
            </div>
        </section>

        <!-- Contact Section -->
        <section id="contact">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading">Contact Us</h2>
                        <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <form name="sentMessage" id="contactForm" novalidate>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Your Name *" id="name" required data-validation-required-message="Please enter your name.">
                                        <p class="help-block text-danger"></p>
                                    </div>
                                    <div class="form-group">
                                        <input type="email" class="form-control" placeholder="Your Email *" id="email" required data-validation-required-message="Please enter your email address.">
                                        <p class="help-block text-danger"></p>
                                    </div>
                                    <div class="form-group">
                                        <input type="tel" class="form-control" placeholder="Your Phone *" id="phone" required data-validation-required-message="Please enter your phone number.">
                                        <p class="help-block text-danger"></p>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <textarea class="form-control" placeholder="Your Message *" id="message" required data-validation-required-message="Please enter a message."></textarea>
                                        <p class="help-block text-danger"></p>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="col-lg-12 text-center">
                                    <div id="success"></div>
                                    <button type="submit" class="btn btn-xl">Send Message</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <span class="copyright">Copyright &copy; Reservations 2015</span>
                    </div>
                    <div class="col-md-4">
                        <ul class="list-inline social-buttons">
                            <li><a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <ul class="list-inline quicklinks">
                            <li><a href="#">Privacy Policy</a>
                            </li>
                            <li><a href="#">Terms of Use</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>

        <script src="static/themes/startbootstrap-agency/js/jquery.js"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="static/themes/startbootstrap-agency/js/bootstrap.min.js"></script>

        <!-- Plugin JavaScript -->
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
        <script src="static/themes/startbootstrap-agency/js/classie.js"></script>
        <script src="static/themes/startbootstrap-agency/js/cbpAnimatedHeader.js"></script>

        <!-- Contact Form JavaScript -->
        <script src="static/themes/startbootstrap-agency/js/jqBootstrapValidation.js"></script>
        <script src="static/themes/startbootstrap-agency/js/contact_me.js"></script>

        <!-- Custom Theme JavaScript -->
        <script src="static/themes/startbootstrap-agency/js/agency.js"></script>

        </body>
    {% endblock %}
    </html>
{% endblock %}
