<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div data-ng-if="errorMessage">
            <div class="bg-danger text-danger" style="padding:10px; margin-bottom: 15px;">
                <div class="row">
                    <div class="col-md-12">
                        <p>{{ errorMessage }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div data-ng-if="reservationComplete">
            <div class="bg-success text-success" style="padding:10px; margin-bottom: 15px;">
                <div class="row">
                    <div class="col-md-12">
                        <p>Congratulations, reservation complete!</p>
                    </div>
                </div>
            </div>
            <div>
                <p><strong>Name:</strong> {{ reservation.clientName }}</p>
                <p><strong>Restaurant:</strong> {{ getRestaurantName() }}</p>
                <p><strong>Seats:</strong> {{ reservation.seats }}</p>
                <p><strong>Date:</strong> {{ getReservationDate() }}</p>
                <button class="btn btn-default" data-ng-click="anotherReservation()">Make another reservation</button>
            </div>
        </div>
        <form class="form-horizontal" data-ng-if="!reservationComplete">
            <div class="form-group" data-ng-class="{'has-error':formValidation.clientName}">
                <label for="inputName" class="col-sm-2 control-label">Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputName" placeholder="Name" ng-model="reservation.clientName">
                </div>
            </div>
            <div class="form-group" data-ng-class="{'has-error':formValidation.dateTime}">
                <label for="inputDate" class="col-sm-2 control-label">Date</label>
                <div class="col-sm-10">
                    <input id="inputDate" type="text" size="10" class="form-control" ng-model="reservation.dateStart"  data-autoclose="1" placeholder="Date" data-min-date="today" bs-datepicker>
                </div>
            </div>
            <div class="form-group">
                <label for="inputTime" class="col-sm-2 control-label">Time</label>
                <div class="col-sm-10">
                    <input id="inputTime" type="text" size="8" class="form-control" ng-model="reservation.dateStart"
                           data-time-format="h:mm a" data-autoclose="1" placeholder="Time"
                           data-minute-step="30"
                           bs-timepicker data-ng-disabled="!reservation.dateStart">
                </div>
            </div>
            <div class="form-group" data-ng-class="{'has-error':formValidation.restaurant}">
                <label for="restaurant" class="col-sm-2 control-label">Restaurant</label>
                <div class="col-sm-10">
                    <select id="restaurant" class="form-control" data-ng-model="reservation.restaurant">
                        <option value="">Please select a restaurant</option>
                        <option data-ng-repeat="restaurant in restaurantService.restaurants" value="{{restaurant.id}}">{{restaurant.name}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="inputTime" class="col-sm-2 control-label">Seats</label>
                <div class="col-sm-10">
                    <select class="form-control" data-ng-model="reservation.seats" ng-options="seat for seat in range(1, 12)">
                        <select ng-name="page" ></select>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="button" class="btn btn-primary" data-ng-click="makeReservation()">
                        <span data-ng-show="reservationService.isLoading"><i class="fa fa-spin fa-spinner"></i> Loading...</span>
                        <span data-ng-show="!reservationService.isLoading">Make Reservation</span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>