<div class="row">
    <div class="col-md-12 text-center" data-ng-if="restaurantService.isLoading">
        <span><i class="fa fa-spin fa-spinner"></i> Loading...</span>
    </div>
    <div class="col-md-12 text-center" data-ng-repeat="restaurant in restaurantService.restaurants" data-ng-if="!restaurantService.isLoading">
        <h3>{{restaurant.name}} - {{restaurant.location}}</h3>
        <p>Maximum capacity: {{restaurant.capacity}} client<span data-ng-if="restaurant.capacity > 1">s</span> </p>
    </div>
</div>